@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

:root {
    --primary-font: "Sofia Sans", sans-serif;
    --primary-text-color: hsl(194, 15%, 59%);
}

body {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: #0d202b;
}
.nav-container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 3.125rem;
}

.placeh-square {
    border: 1px solid red;
}

.logo {
    display: flex;
    align-self: center;
}

.logo-center {
    align-self: center;
}

.brand {
    height: 22px;
}

.dropdown {
    display: flex;
    font-size: .9em;
}
.btn {
    display: flex;
    justify-content: space-between;
    background: #123040;
    border: none;
    cursor: pointer;
    font-family: var(--primary-font);
    align-items: center;
    min-height: 2;
    padding: 6px 12px;
    height: 2rem;
    /* line-height: 1em; */
}
.set-btn {
    margin-left: 1rem;
    border-radius: 3px;
    justify-self: start;
    min-width: 6rem;
}
.summoner-search {
    display: flex;
    align-self: center;
    flex-grow: 1;
    margin: 0 50px;
}
.region-dropdown {
    /* width: 100%; */
    min-width: 3.125rem;
    /* flex-grow: 2; */
}
.search-btn {
    border-radius: 3px;
}
.summoner-input {
    width: 100%;
    /* flex-grow: 4; */
}

.donwload-btn {
    min-width: 10em;
    align-self: center;
}

@media screen and (min-width: 1200px) {
    .right-btn {
        display: flex;
        align-items: center;
        justify-items: center;
        min-width: 11rem;
        line-height: 2.5em;
        min-height: 2.5em;
        color: white;
        background: #227aad;
    }
    .summoner-search {
        margin: 0 150px;
    }
}

.white {
    color: #ffffff;
}

.windows-img {
    max-width: 1rem;
    max-height: 1rem;
    padding: 0 .5em;
    border-radius: 3px;
}