@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

:root {
    --primary-font: "Sofia Sans", sans-serif;
    --primary-text-color: hsl(194, 15%, 59%);
    --primary-background: #0d202b;
    --secondary-background: #102531;
}

*, *::before, *::after {
    box-sizing: border-box;
}
  
img, picture, svg, video {
    display: block;
    max-width: 100%
}
  
input, textarea, button, select {
    font: inherit;
}

body {
    font-family: var(--primary-font);
    color: var(--primary-text-color);
    letter-spacing: 0.015em;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: var(--primary-background);
}
.container {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 3.125rem;
}

.placeh-square {
    border: 1px solid red;
}

/* NAV SECTION START */
.logo {
    display: flex;
    align-self: center;
}

.logo-center {
    align-self: center;
}

.brand {
    height: 22px;
}

.dropdown {
    display: flex;
    font-size: .9em;
}
.btn {
    display: flex;
    justify-content: space-between;
    background: #123040;
    border: none;
    cursor: pointer;
    font-family: var(--primary-font);
    align-items: center;
    min-height: 2;
    padding: 6px 12px;
    height: 2rem;
}
.set-btn {
    margin-left: 1rem;
    border-radius: 3px;
    justify-self: start;
    min-width: 6rem;
}

.summoner-search {
    display: flex;
    align-self: center;
    flex-grow: 1;
}

.region-dropdown {
    min-width: 3.125rem;
}

.search-btn {
    border-radius: 3px;
}

.summoner-input {
    width: 100%;
}

@media screen and (min-width: 1200px) {
    .right-btn {
        display: flex;
        align-items: center;
        min-width: 11rem;
        min-height: 2.5em;
        color: white;
        background: #227aad;
        border-radius: 2px;
        box-shadow: inset 0 0 2px 0 black;
    }
    .summoner-search {
        margin: 0 150px;
    }
}

@media screen and (max-width: 1265px) {
    .container {
        max-width: 1000px;
    }
    .summoner-search {
        margin: 0 50px;
    }
}

.download-btn {
    height: auto;
    min-width: 10em;
    align-self: center;
}

#download-btn-text {
    margin-left: .5em;
}

.white {
    color: #ffffff;
}

.windows-img {
    max-width: 1rem;
    max-height: 1rem;
    margin-left: 5px;
}
/* NAV SECTION END */

/* ROUTER SECTION START */
.section-row {
    background: var(--secondary-background);
    border-top: 1px solid #17313a;
    border-bottom: 1px solid #17313a;
}

.section-item {
    /* display: flex; */
    align-self: center;
    justify-self: center;
    /* justify-content: center; */
    height: 100%;
    flex-grow: 1;
}

.section-links {
    padding: 0;
}

.section-links a {
    color: #88a0a7;
    font-size: 1em;
    line-height: 1em;
    font-weight: 400;
}

.section-links li {
    list-style-type: none;
    text-decoration: none;
    align-self: center;
    text-transform: capitalize;
    height: 100%;
}

.section-link {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: center;
}

.section-item .section-link::before {
    content: "";
    background:#d47559;
    position: absolute;
    height: 4px;
    bottom: -1.05em;
    width: 0;
    transition: width .3s;
}

.section-item .section-link.active::before {
    width: 100%;
}

.section-link:hover {
    color: white;
    transition-duration: .5s;
    transition-property: color;
    transition-timing-function: ease-in-out;
}

a.active {
    color: white;
}
/* ROUTER SECTION END */

/* MAIN SECTION START */
.team-comps {
    background: var(--primary-background);
    width: 100%;
    padding-top: 2rem;
}

.stats-section {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.character-portrait {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
}

.unit-avatar {
    border-radius: 50%;
    min-width: 120px;
    min-height: 120px;
}

.unit-description {
    flex: 2 1;
}
/* MAIN SECTION END */